.blog-container{
    margin: 60px;
}
.quesction-container{
    margin: 20px;
    background-color: rgb(226, 239, 239);
    padding: 10px;
    border-radius: 5px;
}
.que{
    background-color: aqua;
    padding: 5px;
    text-align: center;
}