.activities-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.activities-card-container{
    border: 1px solid black;
    margin: 60px;
}
.time-container{
    border: 1px solid black;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}